


      <nav class="navbar navbar-expand-xl navbar-light sticky-top">

        <a class="navbar-brand name" href="/home/index">L'@TTITUDE</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-around" id="links">
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link yellow" href="/home/games">Games</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link yellow" href="/Home/news">News</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link yellow my-0 mx-0" href="/Event/showEvent" tabindex="-1" aria-disabled="true" >Events</a>
              </li>
            </ul>

              <li class="nav-item d-flex align-items-center">
                <a href="/User/UserLogin">
                  <svg role="img" class="icons my-0 mx-0" xmlns="http://www.w3.org/2000/svg" width="80px" height="80px" viewBox="0 0 24 24" aria-labelledby="userIconTitle userIconDesc" stroke="#FCC802" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#FCC802"> <title id="userIconTitle">User</title> <desc id="userIconDesc">Icon of a portait shape closed in a circle</desc> <path stroke-linecap="round" d="M5.5,19.5 C7.83333333,18.5 9.33333333,17.6666667 10,17 C11,16 8,16 8,11 C8,7.66666667 9.33333333,6 12,6 C14.6666667,6 16,7.66666667 16,11 C16,16 13,16 14,17 C14.6666667,17.6666667 16.1666667,18.5 18.5,19.5"/> <circle cx="12" cy="12" r="10"/> </svg>
                </a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a href="/Purchase/cart">
                  <svg role="img" class="icons my-0 mx-0" xmlns="http://www.w3.org/2000/svg" width="80px" height="80px" viewBox="0 0 24 24" aria-labelledby="cartIconTitle cartIconDesc" stroke="#FCC802" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#FCC802"> <title id="cartIconTitle">Cart</title> <desc id="cartIconDesc">Icon of a shopping cart</desc> <path d="M6 6h15l-1.5 9h-12z"/> <circle cx="9" cy="19" r="1"/> <circle cx="18" cy="19" r="1"/> <path d="M6 6H3"/> </svg>
                </a>
              </li>

        </div>

      </nav>

